

*{
    padding: 0px;
    margin: 0px;
}
body{
    background: rgb(180, 136, 221);

}
.contenedor{
    max-width: 1000px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 270px);
    grid-template-rows: repeat(3, 270px);
    gap: 4px;
}
.contenedor > input{
    background-color: rgb(135, 195, 248);
    border-radius: 2px;
    color: black;
    font-size: 150px;
    text-align: center;
}

.contenedor input:hover {
    background-color: blue;
    color: black;
}
#reinicio{
    font-size: 0.8em;
    margin-top: 2em;
    padding: 0.7em;
    color: white;
    background-color: #77d;
 }